    <div class="row">
        <div class="col-12">
            <h1>Gearbest</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ngx-tabset>
                <ngx-tab tabTitle="List Coupons">
                    <button (click)="searchListCoupons()">Cerca</button>
                    <div class="row">
                        <div class="col-12">
                            <app-table [columns]="columns" [rows]="rows"></app-table>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="List Coupon">
                    <div class="row">
                        <div class="col-12">
                            <app-table [columns]="columns" [rows]="rows"></app-table>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
