<div class="row">
    <div class="col-12">
        <h1>Furmax Template</h1>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12">
        <h2>Login</h2>
    </div>
</div>
<br>
<br>
<br>
<br>
<input #username id="username" name="username" type="text" class="form-control" [(ngModel)]="auth.username" required trimInput />
<br>
<input #password id="password" name="password" type="password" class="form-control" [(ngModel)]="auth.password" required trimInput />
<br>
<button (click)="login()" type="button" >
    Login
</button>

<br>
<br>
<pre>{{res | json}}</pre>